table {
  border-collapse: collapse;
  width: 100%;
  border: none;
}

thead {
  border-bottom: 1px solid #ddd;
}

th, td {
  border: none !important;
}

tr:nth-child(even) {background-color: #5b5b5b;}

.sunlogo {
  width: 70%;
  margin: 0 auto;
  display: block;
  max-width: 400px;
}

.footerlogo {
  width: 100px;
  opacity: 0.3;
}

.post-year {
  width: 140px;
}

.breadcrumb {
  color: #9C9C9C;
  text-decoration: underline dotted;
}

.eventnav {
  text-decoration: underline dotted;
}

.previous {
  text-align: left;
  width: 50%;
}

.next {
  text-align: right;
  width: 50%;
  float: right;
}

.nextprev {
  width: 100%;
}
